.header {
	overflow: hidden;
	padding: 20px 10px;
	background-color: #222;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	opacity: 0.6;
	position: fixed;
	z-index: 100;
	top: 0;
}

.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.logout {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.header-right {
  float: right;
  font-size: 25px;
}

.auth-user {
  font-size: 20px;
}

.username {
  cursor: default;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 3px 0px;
  }
  .header a.logo {
    font-size: 18px;
  }
  .auth-user {
    font-size: 15px;
  }
}