.login-banner {
  background-image: url(../../assets/images/login-background-3.png);
  height: calc(100vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
