<div class="banner">
	<div class="container">
		<div class="banner-text">
			
			<div class="banner-heading">
				Make your To-do List
			</div>

			<div class="banner-sub-heading">
				Make your to-do list and manage them!
			</div>
			<button type="button" class="btn btn-warning text-dark btn-banner" routerLink="/login">Login</button>
		</div>
	</div>
</div>
<section id="about">
	<div class="container">
		<div class="text-intro">
		<h2>Not a member</h2>
			<button type="button" class="btn btn-warning text-dark btn-banner" routerLink="/register">Register Today</button>
		</div>
	</div>
</section>